
        .hero-section {
            background-image: url('library.png'); 
            background-size: cover;
            background-position: center;
            height: 100vh; 
            color: white;
            text-align: left;
            position: relative;
        }

        .hero-section .overlay {
            background-color: rgba(0, 0, 0, 0.8); 
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .hero-content {
            position: relative;
            z-index: 1;  
            padding-top: 80px; 
        }

        .hero-content h1 {
            font-size: 4rem;
            font-weight: bold;
        }

        .hero-content p {
            font-size: 1.75rem; 
            margin-bottom: 10px; 
        }

        .start-btn {
            background-color: #a00000; 
            border: none;
            padding: 15px 30px;
            font-size: 1.5rem;
            color: white;
            margin-top: 20px;
            transition: background-color 0.3s ease; 
        }

        .start-btn:hover {
            background-color: #a00000; 
        }

        .logo {
            position: absolute; 
            top: 20px;
            left: 20px; 
            height: 80px; 
            z-index: 1;
            margin:5px;
        }

        .info-section {
            padding: 50px 0;
            text-align: center;
        }

        .info-section .card {
            border: none; 
            background-color: #800000;
            color: white;
            margin-bottom: 30px; 
        }

        .info-section .card img {
            height: 100px; 
            width: 100px;
            object-fit: contain;
            margin-bottom: 20px; 
        }

        .info-section .card h5 {
            font-size: 1.5rem;
            margin-top: 10px;
        }

        .info-section .card p {
            font-size: 1rem;
        }

    