body {
    font-family: "Inter", sans-serif;
    background-color: #f4f4f4;
  }
  .sidebar {
    background-color: #333;
    color: #fff;
    min-height: 100vh;
    padding: 1rem;
    width: 250px;
  }
  .sidebar a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 0.8rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
  }
  .sidebar a:hover {
    background-color: #555;
  }
  .sidebar i {
    margin-right: 10px;
  }
  .main-content {
    padding: 2rem;
    flex-grow: 1;
  }
  .content-header {
    background-color: #e0e0e0;
    padding: 1.2rem;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .dropdown-select {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 0.5rem;
    padding-left: 2rem;
    border-radius: 18px;
    width: 180px;
  }
  .selected-sem {
    font-weight: 500;
    color: #000000;
    margin: 0rem 2rem;
  }
  .subject-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  .subject-select {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    border-radius: 18px;
    width: 500px;
  }
  .notes-box {
    background-color: #f7f7f7;
    border: 10px solid #ddd;
    border-radius: 18px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    font-weight: 500;
    margin-top: 1rem;
  }
